<h2>Welcome to Jeremy Bloom's Example App</h2>
<form action="/submit_note" method="post">
    <label>Leave a note in the app log:</label>
    <input type="text" name="note" required>
    <button type="submit">Submit</button>
</form>
{#
<p>
    <a href="/sys_log">View System Log</a> |
    <a href="/app_log">View App Log</a>
</p>
#}



<form action="/sys_log" method="get" style="display:inline;">
    <button type="submit">View System Log</button>
</form>

<form action="/app_log" method="get" style="display:inline; margin-left: 10px;">
    <button type="submit">View App Log</button>
</form>


<form action="/delete_sys_log" method="post" style="display:inline;margin-left: 10px;">
    <button type="submit" onclick="return confirm('Delete system log?')">Delete System Log</button>
</form>

<form action="/delete_app_log" method="post" style="display:inline; margin-left: 10px;">
    <button type="submit" onclick="return confirm('Delete app log?')">Delete App Log</button>
</form>

<hr>


<form action="/query_claude" method="get" style="display:inline; margin-left: 10px;">
    <button type="submit">Query Claude</button>
</form>

<form action="/query_chatgpt" method="get" style="display:inline; margin-left: 10px;">
    <button type="submit">Query ChatGPT</button>
</form>

<p>

<form action="/converse_claude" method="get" style="display:inline; margin-left: 10px;">
    <button type="submit">Converse with Claude</button>
</form>


<form action="/converse_chatgpt" method="get" style="display:inline; margin-left: 10px;">
    <button type="submit">Converse with ChatGPT</button>
</form>



<p>
<form action="/talk_to_bedrock" method="get" class="inline-button-form">
    <button type="submit">Talk to AWS Bedrock</button>
</form>