<h2>Query Claude</h2>

<p>{{ intro_title }}</p>
<ul>
  {% for item in intro_bullets %}
    <li>{{ item }}</li>
  {% endfor %}
</ul>

<form method="post" autocomplete="off">
	{# nothing #}
	{#
	<label for="api_key">Anthropic api key:</label><br>
	<input type="text" name="api_key" id="api_key"
	       value="{{ api_key }}"
	       placeholder="TRASH" style="width: 400px;"><br><br>
	#}


	{% if api_key_saved  %}
	  <p>✅ Anthropic API key saved for this session.
	    <br><a href="{{ url_for('main.forget_keys') }}" style="margin-left: 1em;">Forget all API keys</a>
	  </p>
	  <!-- Hide input box to prevent access -->
	{% else %}
	  <label for="api_key">Anthropic API key:</label><br>
	  <input type="password" name="api_key" id="api_key" placeholder="..." style="width: 400px;" required><br><br>
	{% endif %}


	<label for="user_prompt">Ask Claude: </label><br>
	<textarea name="user_prompt" id="user_prompt" rows="4" style="width: 600px;" required>{{ user_prompt }}</textarea><br>
	<button type="submit">Send</button>
</form>

{% if response %}
    <h3>Claude Response:</h3>
    <div style="white-space: pre-wrap; border: 1px solid #ccc; padding: 10px; margin-top: 10px;">
        {{ response }}
        {{ message_footer }}
    </div>

{% endif %}


{% if error %}
    <h3 style="color: red;">Error:</h3>
    <div>{{ error }}</div>
{% endif %}

<h3>Example code</h3>
<pre><code>{{ example_code | e }}</code></pre>

<p><a href="/">Back to Home</a></p>
